body{
    display: grid;
    /* flex-direction: column ; */
    font-size: 1.3em;
    justify-content: center;
    /* border: 2px dotted green; */
    /* width:   30%; */
}
header{
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    align-items: flex-end;
}
.add{
    /* border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left:none;   */
}

#check-list{
    border: 1px solid saddlebrown;    
}

#btn{
    border: 1px solid blue;
    display: grid;   
    grid-template-columns:1fr 2fr 1fr;  
}

#deletebtn{

    /* width:5  %; */
}

.complete {
    text-decoration: line-through;
}

.incomplete {
    text-decoration: none;
}
